.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #1C86EE;
    width: 100%;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}