.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 2px solid #014487; */
    width: 100%;
    padding: 20px 5px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    /* background-color: #1C86EE; */
    
}

.card img {
    border-radius: 10px;
    cursor: pointer;
    
}

.card img:hover {
    transition: transform 0.6s ease;
    transform: scale(1.1);
}

.card h2 {
    color: #1C86EE;
    padding-top: 16px;

}

.card h3 {
    color: #1C86EE;
    font-size: 14px;
    padding-top: 8px;
}