@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 2px solid #014487; */
    width: 100%;
    padding: 20px 5px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    /* background-color: #1C86EE; */
    font-family: 'Libre Baskerville', serif;
    padding-left: 28px;
}

.card img {
    border-radius: 10px;
    cursor: pointer;
    
}

.card img:hover {
    transition: transform 0.6s ease;
    transform: scale(1.1);
}

.card h2 {
    color: black;
    padding-top: 16px;
    font-weight: 700;
}

.card h3 {
    color: black;
    font-size: 14px;
    padding-top: 8px;
    font-weight: 100;
}