@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Ubuntu:wght@400;500;700&display=swap');



.destaque {
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 12%;
    
}

.destaque img {
    clip-path: polygon(14% 0, 59% 0, 91% 50%, 59% 100%, 14% 100%);


}

.nome {
    display: inline;
    position: relative; 
    right: 50px;
}

.destaque p {
    padding-top: 64px;
}