@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');


.destaque {
    font-family: 'Adamina', serif;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 12%;
    
}

.destaque img {
    clip-path: polygon(14% 0, 59% 0, 91% 50%, 59% 100%, 14% 100%);


}

.descricao {
    display: inline;
    position: relative; 
    right: 50px;
}

.descricao h1 {
    font-size: 35px;
}

.destaque p {
    padding-top: 64px;
}