@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


header {
    /* background-color: #1C86EE; */
    /* display: flex; */
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
   
}

header img {
    width: 5%;
     border-radius: 10px; 
}

.botao-exibir {
    color: #1C86EE;
    transition: color 0.2s ease-in-out;
}

.botao-exibir:hover {
    color:#a2cdf8;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 16px;
    left: 100px; 
    font-family: 'Bruno Ace SC', cursive;
    font-size: 12px;
    color: #1C86EE;
    cursor: pointer;  
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
    padding-top: 10px;
    
}

header nav h2 {
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

header nav h2:hover {
    cursor: pointer;
    color: #93c5f7;
    border-left: 3px solid #1C86EE;
    padding-left: 10px;
}