@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Ubuntu:wght@400;500;700&display=swap');

.titulo {
    padding-top: 64px;
    padding-bottom: 16px;
    border-bottom: 2px solid #1C86EE;
    width: 60%;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    left: 300px;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 20px;
}

.local-card {
    display: grid;
    justify-content: center;
    margin-bottom: 64px;
}