@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.titulo {
    padding-top: 64px;
    padding-bottom: 16px;
    border-bottom: 1.5px solid #1C86EE;
    width: 60%;
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    left: 300px;
    text-align: center;
    font-family: 'Adamina', serif;
    font-size: 20px;
}

.botao-projetos {
    background-color: #1C86EE;
    width: 5.4vw;
    font-size: 8px;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 87vw;
    padding: 0.55rem 4px;
    cursor: pointer;
    transition: .5s;
}

.botao-projetos:hover {
    background-color: #6eb2f6;

}

.local-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 8px;
    margin-bottom: 64px;
    text-align: center; 
    justify-content: center; 
    padding: 16px 32px; 
}

@media (max-width: 744px) {
    .titulo{
        font-size: 1rem;
        left: 5rem;
    }
    
    .local-card {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }

    .botao-projetos {
        width: 15vw;
        left: 75vw;
        font-size: 6px;
        padding: 8px 5px;
    }
}

